body{
    background-color: black;
}

p{
    color: yellowgreen;
}

.navbar-brand{
    margin-left: 20px;
    
}

#navbarNavAltMarkup{
    margin-left: 800px;
}

.collapse.navbar-collapse{
    transform: translateX(100px);
}
.navbar-nav.active {
    transform: translateX(-50px); 
}
.navbar-nav{
    /* background-color: wheat; */
    
}

.log{
    border: solid white ;
}